@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat|Source+Sans+Pro|Anton|Permanent+Marker&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  /*background-color: #F2EEE9 !important;*/
  background-color: #FFF !important;
  font-family: "Montserrat";
}
h1,h2 {
  font-family: "Source Sans Pro", "sans-serif";
}

.cont-bg {
	position: relative;

}
.header {
	flex: 0 1 auto;
}
.footer {
	flex: 0 1 auto;
}
.nav-header {
  position: relative;
  display: block;
  top: 20px;
  font-family:"Permanent Marker";
  font-size: 2rem;
  font-weight: 100;
  background-color: transparent;
  color: #000;
  z-index: 30;
}
.nav-right  {
  position: absolute;
  right: 20px;
  top: 70px;
  z-index: 50;

  font-family: "Montserrat";
  font-size: 0.9rem;
  color: black;
}
.nav-right p {
  color: black;
  padding: 0 0.5em;
}
.nav-right a {
  color: black;
  padding: 0 0.5em;
}
.nav-right a:hover {
  color: gray;
  text-decoration: none;
}
.right-cont {
  display: flex;
}
.user-logo {
  height: 20px;
  width: 20px;
  margin: 0 0.2em;
}
.cart-logo {
  height: 20px;
  width: 20px;
  margin: 0 0.2em;
}
.user-menu {
  background: #86cfda;
  position: absolute;
  width: 85%;
  height: 100px;
  top: 30px;
  left: 0;
  display: none;
  -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
}
.user-menu .arrow {
  width: 0;
  height: 0;
  position: absolute;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid #86cfda;
  top: -10px;
  left: 40%;
}
.user-control {
  margin: 5px;
  background: #fff;
  height: 90%;
  position: relative; 
}
.user-control a {
  display: block;
  padding: 0.5rem;
}
.user-links {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
#user-navigation:hover {
  cursor: pointer;
}
#user-navigation:hover, #user-navigation:active {
  display: block;
}
.nav-header .header-logo {
  color: #000;
}
.header-logo:hover {
  color: black;
  text-decoration: none;
}
.header-logo::visited {
  color: #000;
}
.header-logo span {
  color: #000;
  font-weight: 900;
}
.navbar .navbar-nav a {
  font-size: 1.3rem;
  color: black !important;
}
.navbar .navbar-nav a:hover {
  color: gray !important;
}
#welcome-user {
  display: block;
}
@media (min-width: 768px) {
  .nav-right {
    right: 50px;
    top: 20px;
  }
}
.hero-container {
  background: url(./../images/hero-ban.jpg) center center;
  background-repeat: no-repeat;
  -webkit-background-size: auto;
  background-size: cover;
}
.hero-container .jumbotron {
  background: transparent;
  margin-top: 5vh;
}
@media (min-width: 768px) {
  .hero-container .jumbotron {
    margin-top: 25vh;
  }
}
.bg-info {
  background-color: transparent !important;
}
.dropdown #dropdown-menu a:hover {
  background: gray;
  color: black;
  text-decoration: none;
}
.dropdown #dropdown-menu a:active {
  background: gray;
  color: black;
  text-decoration: none;
}
.pagination li a {
  color: black;
}
.pagination li a:hover {
  color: white;
  background: grey;
}
.shop-item-img {
  max-width: 100%;
  max-height: 100%;
}
.shop-item-qty {
  width: 70px;
  text-align: center;
}
.shop-minus, .shop-add {
  background: #343a40;
  color: white;
  border: none;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  line-height: 1rem;
  text-align: center;
  margin: 0 1em;
  padding: 0;
}
.shop-minus:active, .shop-add:active {
  background: grey;
  color: black;
  border: 1px solid #343a40;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  line-height: 1rem;
  text-align: center;
  margin: 0 1em;
}
.shop-minus.disabled, .shop-add.disabled{
  background: gray;
  color: white;
  border: none;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  line-height: 1rem;
  text-align: center;
  margin: 0 1em;
  padding: 0;
}
.qtyinput {
  width: 50px;
  height: 22px;
  border: 1px solid gray;
  background: white;
  color: #616161;
  text-align: center;
}
.cart-items-container {
  width: 100%;
}
.cart-items-container::before {
  content: "";
  display: table;
}
hr.cart {
  border-top: 1px solid lightgray;
  height:1px;
  transition: all 1s cubic-bezier(0.11, 0.7, 0, 1);
}
hr.cart.remove {
  transform: translateX(-200px);
  opacity: 0;
}
.back-shop {
  color: black;
  font-size: 0.9rem;
  padding: 0 15px;
  transition: all 1s cubic-bezier(0.11, 0.7, 0, 1);
}
.back-shop:hover {
  color: gray;
  text-decoration: none;
  transform: translateX(-15px);
}
.back-shop:hover .back-shop-img {
  transform: translateX(-15px);
}
.back-shop-img {
  width: 30px;
  height: 24px;
  transition: all 0.5s cubic-bezier(0.11, 0.7, 0, 1);
}
.item-list {
  display: flex;
  width: 100%;
  transition: all 2s cubic-bezier(0.11, 0.7, 0, 1);
}
.item-list.remove {
  transform: translateX(-200px);
  opacity: 0;

}
.product-thumb {
  vertical-align: bottom;
  border: 1px solid #ddd;
  margin-bottom: 4px;
  width: 150px;
  height: 150px;
}
.product-name p {
  font-size: 1rem;
  font-weight: 900;
}
.product-description p {
  font-size: 0.9rem;
}
.items-cart p {
  margin-bottom: 7px;
}

.form-group span {
  color: #092435;
  background-color: #77DD77;
  border-radius: 5px;
  font-size: 0.8rem;
  display: none;

  margin-left: 10px;
  padding-left: 7px;
  padding-right: 7px;
}
.categ-item {
  font-size: 1.3rem;
  font-weight: bold;
}
#cart-items td {

  text-align: center;
  vertical-align: middle;
}
.cart-super {
  font-weight: 900;
  color: red;
}
/* Chrome, Safari, Edge, Opera */
input.qtyinput::-webkit-outer-spin-button,
input.qtyinput::-webkit-inner-spin-button,
input.shop-item-qty::-webkit-outer-spin-button,
input.shop-item-qty::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input.qtyinput, input.shop-item-qty {
  -moz-appearance: textfield;
}
.cart-edit-qty {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
}
.cart-minus, .cart-add {
  background: #343a40;
  color: white;
  border: none;
  border-radius: 50%;
  width: 1.1rem;
  height: 1rem;
  line-height: 0.5rem;
  text-align: center;
  margin: 0;
  padding: 0;
  transition: all 0.5s cubic-bezier(0.11, 0.7, 0, 1);
}
.cart-minus:active, .cart-add:active {
  background: grey;
  color: black;
  border: 1px solid #343a40;
  border-radius: 50%;
  text-align: center;
  margin: 0;
}
.cart-minus:hover, .cart-add:hover {
  background: white;
  color: black;
  border: 1px solid #343a40;
  border-radius: 50%;
  text-align: center;
  transition: all 0.5s cubic-bezier(0.11, 0.7, 0, 1);
}
.cart-minus.disabled, .cart-add.disabled{
  background: gray;
  color: white;
  border: none;
  border-radius: 50%;
  text-align: center;
  margin: 0;
  padding: 0;
}
.product-remove {
  width: 1.2rem;
  height: 1.2rem;
  line-height: 1.2rem;
  float: right;
}
.product-remove button {
  background: none;
  color: red;
  padding:auto;
  margin: 0;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 50%;
  border: 1px solid red;
  transition: all 0.5s cubic-bezier(0.11, 0.7, 0, 1);
}
.product-remove button:hover {
  transform: scale(1.1, 1.1);
  background: red;
  color: white;
}
.edit-product-name {
  border: none;
  font-size: 1.7rem;
  font-weight: 900;
  border-bottom: 1px solid #CECECE;
}
.edit-product-name:disabled {
  background: transparent;
  border: none;
}
.edit-product-price {
  display: block;
  border: none;
  font-size: 1.3rem;
  font-weight: 400;
  border-bottom: 1px solid #CECECE;
}
.edit-product-price:disabled {
  background: transparent;
  border: none;
}
.edit-product-description {
  display: block;
  border: none;
  font-size: 1.3rem;
  font-weight: 400;
  border-bottom: 1px solid #CECECE;
}
.edit-product-description:disabled {
  background: transparent;
  border: 1px solid #CECECE;
}
.invoice-details {
  text-align: left;
}
.invoice-details h3 {
  margin-top: 1rem;
}
.invoice-logo {
  max-width: 25%;
  margin: 1rem;
}
.invoice-brand {
  font-family: "Permanent Marker";
}
span.transaction-no {
  margin-left: 0.7rem;
}
.invoice-date {
  margin-left: 0.7rem;
}
span.invoice-total {
  display: block;
  font-weight: 900;
}
.invoice-table td, .invoice-table th {
  border: none;
}
table.table.table-hover {
  border: 1px solid lightgray;
}
@media (min-width: 768px) {
  .invoice-details {
    text-align: right;
  }
  span.invoice-total {
    margin-left: 1rem;
    margin-top: 1rem;
  }
  span.transaction-no {
    margin-left: 1rem;
  }
  .invoice-details h3 {
    margin-top: 4rem;
  }
}

